*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../media/i.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    width: 100%;
    height: 100vh;
    .box{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .box-1{
            width: 500px;
            border: 1px solid gray;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            gap: 20px;
           input{
            width: 100%;
            padding: 10px;
            font-size: 20px;
           }
           select{
            width: 100%;
            padding: 10px;
            font-size: 20px;
           }
           button{
            padding: 10px 20px;
            font-size: 20px;
            border:none;
            background-color: green;
            color:white;
            border-radius: 10px;
           }

        }
        .box-2{
            width: 500px;
            table{
                width: 100%;
                border: 1px solid gray;
               
                tr{
                    th{
                        border: 1px solid gray;
                        background-color: gray;
                    }
                    td{
                        text-align: center;
                        border: 1px solid gray;
                        background-color: gray;

                    }
                }
            }

        }
    }
}


@media (min-width: 300px) and (max-width:600px) {
    .container{
        .box{
            .box-1{
                width: 300px;
            }
            .box-2{
                width: 300px;
            }
        }
    }
}